*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	margin:auto;
	width:90%
}
.row {
	display:flex;
     flex-wrap:wrap;
}
.col{
	width:33.3%;
	text-align:center;
	padding:10px;
}
.service-card{
	width:100%;
	border:1px solid #ebebeb;
	padding:50px;
}
.ico-wrapper{
	     width:50px;
		 height:50px;
		 border-radius:5%;
		 margin:auto;
		 display:flex;
		 align-items:center;
		 justify-content:center;
		 background-color:#ffc451;
         font-size:30px;
}
.service-card:hover{
	transition:all 1s;
	transform:translatey(-10px);
	box-shadow:0 0 10px #00e6e6;
}
.kr{
	padding-top:20px;
}
h3:hover{
	color:#ffd11a;
}

h2::after{
    content:"";
    position:absolute;
    width:60px;
    height:1px;
    background-color:#f59920a6;
    top:20px;
    left:150px;
}	
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 